body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.backgraund_image{
  width:100%;
  height: 790px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
  opacity: 70%;
}
.backgraund_image_black{
  position: absolute;
  top:0;
  width:100%;
  height: 790px;
  background-color: black;
  z-index: 0;
}
.main_page{
  display: flex;
  justify-content: center;
  position: absolute;
  top:0;
  width:1440px;
  height: 790px;
  z-index: 2;
}
/* Ограничение рабочей области */
.container {
  width: 1120px;
  margin: 0 auto;
}
/* Шапка */
.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100px;
}
.header .ul{
  display: flex;
  justify-content: end;
  list-style: none;
  color: #fff;
  font-size: 14px;
}
.header .li{
  margin-right: 20px;
}
.header .li:last-of-type{
  margin-right: 0;
}
.header .li:hover{
  transform: scale(1.2);
  transition-duration: 0.2s;
  color: #FFC700;
  cursor: pointer;
}
.header img{
  width: 100px;
  height: 40px;
}
/* Контент на первом блоке */
.first_block{
  height: 790px;
  display: flex;
  justify-content: space-between;

}
/* Текст и кнопка */
.text_logo{
  width: 723px;
  position: relative;
  margin-top:150px;
}
.to_us{
  position: absolute;
  right: 32px;
  top: 48px;
}
.adven{
  margin-bottom: 20px;
}
.pero_travel{
  margin-bottom: 60px;
}
.button_main{
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  width: 230px;
  height: 50px;
  border-radius: 60px;
  border: none;
}.button_main:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}
.button_main_img{
  margin-left: 10px;
  animation-name: move;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0, 0, 0.47, 0.49);
  position: relative;
}
/* Иконки */
.logo_block{
  display: flex;
  align-self: center;
  flex-direction: column;

}
.logo_block img{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.vk{
  width: 27px;
  height: 16px;
}
.fc{
  width: 12px;
  height: 26px;
  margin-left: 10px;
}
.insta{
  width: 27px;
  height: 27px;
}

.scroll{
  display: flex;
  position: absolute;
  bottom:-120px;
  right: 300px;
}
.scroll_img{
  margin-left: 20px;
  position: relative;
}


.sroll_animation{
  opacity: 60%;
}
.sroll_animation:hover{
  opacity: 100%;
  cursor: pointer;
  transition-duration: 1s;
  transition-delay: 0.2s;

}
.scrol_img_2{
  position: absolute;
  bottom: 80px;
  left:140px;

}
.scrol_img_3{
  position: absolute;
  bottom: 100px;
  left:160px;
  width: 36px;
  height: 36px;
  background-color: #FFC700;
  border-radius: 50px;
}
.scrol_img_polygon{
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 109px;
  left:172px;
  opacity: 50%;
}







.h2 {
  display:flex;
  justify-content: space-between;
  margin-top: 100px;
}
.h2 h2{
  color:#0499DD;
  font-size:24px;
  font-weight:700;
}
.h2 a{
  font-size:12px;
  color:#282828;
}



.scrol_card_main{
  display: flex;
  justify-content: space-between;
  width:1600px;
  margin-top:90px;
}
.scrol_card{
  width: 360px;
  height: 497px;
  color: white;
  border-radius: 15px;
}
.scrol_card:hover{
  box-shadow:1px 1px 10px black;
}
.scrol_card_content{
  padding: 210px 16px 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;


}
.card_1{
  background-image: url(../img/scrol-card_1.png);
}
.card_2{
  background-image: url(../img/scrol_img_2.png);
}
.card_3{
  background-image: url(../img/scrol_img_3.png);
}
.card_4{
  background-image: url(../img/scrol_img_2.png);
}




.scrol_card .type{
  font-size: 12px;
}
.scrol_card_h3{
  font-size: 14px;
  color: #FFC700;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}
.prace_time{
  display: flex;
  width: 125px;
  justify-content: space-between;
}

.scrol_card_prace_time_span{
  font-size: 12px;
}
.scrol_card_prace_time_span{
  font-size:12px;
}
.discription{
  font-size: 12px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button_scrol_card{
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  width: 160px;
  height: 40px;
  border-radius: 60px;
  border: none;
  margin-bottom: 40px;
}
.button_scrol_card:hover{
  transform: scale(1.01);
  transition-duration: 0.1s;
  cursor: pointer;
}
.benifits_main{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.benifits_row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.benifits_row_el{
  display: flex;
  width: 49%;
  justify-content:space-between;
}
.benifits_row_el img{
  width:75px;
  height:75px;
}
.benifits_row_el h3{
  color: #0499DD;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
}
.benifits_row_el span{
  font-weight: 500;
  font-size: 14px;
}
.benifits_row_text{
  margin-left: 20px;
}
.discription_benefits{
  display: block;
  margin: 0 auto;
  width:550px;
  text-align: center;
  font-size: 14px;
  margin-top: 60px;
}
.benifits_button{
    justify-content: center;
}
.gallery{
  width:1440px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -100px;
}


.gallery_1_row_2{
  display: flex;
  justify-content: space-between;
}
.gallery_3_row_1{
  display: flex;
}






@keyframes move {
  0% {left: 0}
  100% {left: 10px;}
}
